/* setjum box-sizing: border-box; á allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* SECTION - AD LIST */
main {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;

    background-color: #F85548;
}

.content {
    margin-top: 50px;
    width: 80%;
}

.sort_search {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.search input {
    border-radius: 5px;

    font-size: 1em;
    padding: 0 5px;
    width: 190px;
    line-height: 1.5em;

    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}

.sort {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.dropdwn {
    font-size: 1em;
    padding: 0 5px;
    width: 190px;
}

select {
    cursor: pointer;

    /* styling */
    background-color: white;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
    border-radius: 5px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    margin-right: 10px;

    /* reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */
select.dropdwn {
    background-image:
            linear-gradient(45deg, transparent 50%, #8D3029 50%),
            linear-gradient(135deg, #8D3029 50%, transparent 50%),
            linear-gradient(to right, #F85548, #F85548);
    background-position:
            calc(100% - 20px),
            calc(100% - 15px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

.label {
    color: white;
    width: 6%;
    margin-right: 5px;
}

.advert {
    margin-top: 20px;
    color: white;
}

.advertlist {
    display: flex;
    justify-content: center;
    width: 100%;
}

.list {
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad {
    margin: 20px;
}

.ad a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
}

.ad a:hover {
    color: black;
}

.img {
    width: 168px;
    height: 200px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
    z-index: 1;
}

.img img {
    border-radius: 5px;

    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .5s, filter 0.5s ease-in-out;
}

.img img:hover {
    transform: scale(1.01);
}

.no_available {
    color: white;
}
