/* HEADER */
* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #5548f8;
    color: #f1f1f1;
}

#red {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    width: 100vw;
    height: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 13px 0 10px 20px;
    z-index: 1;

    background: #F85548;
}

#red a {
    text-decoration: none;
    color: white;
}

#red a:hover {
    text-decoration: none;
    color: black;
}

#not_red {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;

    position: fixed;
    width: 100vw;
    height: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 13px 0 10px 20px;
    z-index: 1;

    background: white;
}

#not_red a {
    text-decoration: none;
    color: black;
}

#not_red a:hover {
    text-decoration: none;
    color: #f85548;
}

.red_sidebar {
    display: flex;
    align-content: center;

    position: fixed;
    width: 180px;
    height: auto;
    background: #F85548;
    right: -200px;
    transition: all 300ms linear;
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 1;
}

.red_sidebar.active, .not_red_sidebar.active {
    right: 0;
}

.red_sidebar ul li{
    color: white;
    list-style: none;
    padding: 5px 10px 15px 10px;
}

.red_sidebar .toggle-btn {
    position: absolute;
    right: 230px;
    cursor: pointer;
}

.red_sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
}

.not_red_sidebar {
    display: flex;
    align-content: center;

    position: fixed;
    width: 180px;
    height: auto;
    background: white;
    right: -200px;
    transition: all 300ms linear;
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 1;
}

.not_red_sidebar ul li {
    color: black;
    list-style: none;
    padding: 5px 10px 15px 10px;
}

.not_red_sidebar .toggle-btn {
    position: absolute;
    right: 230px;
    cursor: pointer;
}

.not_red_sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px 0;
}

.red_sidebar li a:visited {
    text-decoration: none;
    color: white;
}

.red_sidebar li a:active, not_red_sidebar li a:active {
    text-decoration: underline;
}

.red_sidebar li a:link {
    text-decoration: none;
    color: white;
}

.red_sidebar li a:hover {
    text-decoration: none;
    color: black;
}

.not_red_sidebar li a:visited {
    text-decoration: none;
    color: black;
}

.not_red_sidebar li a:link {
    text-decoration: none;
    color: black;
}

.not_red_sidebar li a:hover {
    text-decoration: none;
    color: #f85548!important;
}