/* setjum box-sizing: border-box; รก allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow: hidden;
    background-color: #f85548;
    background-position: center;
}

.container {
    padding-right: 17px;
    box-sizing: content-box;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
}


.section1, .section2, .section3 {
    width: 100%;
    height: 100%;
    color: white;
    scroll-snap-align: start;
}

/* SECTION 1 */
.section1_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.title {
    font-size: 3.5em;
    letter-spacing: 10px;
}

.subtitle {
    font-size: 3em;
    letter-spacing: 5px;
}

.login_btn {
    width: 250px;
    position: relative;
    top: 90%;
    color: black;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    text-decoration: none;

    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}

.login_btn:hover {
    color: white;
    background-color: #5548f8;
    text-decoration: none;
}

/* SECTION 2 */
/*
.onepager {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.onepager img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 */
.section2 {
    background-color: white;
    padding-right: 17px;
}
.section2_content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.onepager {
    height: 40%;
    width: 70%;
    overflow: hidden;
}

.onepager_img {
    height: 100%;
    width: 100%;
    object-fit: inherit;
    background-color: white;
}

/* SECTION 3 - AD LIST */
.section3 {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.section3_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.advertlist {
    width: 90%;
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad {
    margin: 20px;
    font-size: 1.2em;
}

.ad:nth-child(6), .ad:nth-child(7), .ad:nth-child(8), .ad:nth-child(9), .ad:nth-child(10) {
    margin-top: 0;
}

.ad a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
}

.ad a:hover {
    color: black;
}

.img {
    width: 200px;
    height: 220px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}

.card_title {
}

.img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease;
    opacity: 0.8;
}

.img img:hover {
    opacity: 1.0;
}

.ads_btn {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    text-decoration: none;

    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}

.ads_btn:hover {
    color: white;
    background-color: #5548f8;
    text-decoration: none;
}
