/* setjum box-sizing: border-box; á allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow: hidden;
    background-color: #f85548;
    background-position: center;
}

.container {
    padding-right: 17px;
    box-sizing: content-box;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.section1, .section2, .section3 {
    width: 100%;
    height: 100%;
    color: white;
    scroll-snap-align: start;
}

/* SECTION 1 */
.section1_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

.title {
    font-size: 3.5em;
    letter-spacing: 10px;
}

.subtitle {
    font-size: 3em;
    letter-spacing: 5px;
}

.login_btn {
    width: 250px;
    position: relative;
    top: 90%;
    color: black;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    text-decoration: none;

    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}

.login_btn:hover {
    color: white;
    background-color: #5548f8;
    text-decoration: none;
}

/* SECTION 2 */
.section2 {
    background-color: white;
    padding: 20px 17px 0 8px;
    color: black;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.sub {
    color: #5548f8;
    padding: 40px 40px 0 40px;
    font-size: 2em;
}

.col {
    width: 22%;
    margin: 15px;
    text-align: justify;
}

.bil {
    margin: 245px;
}

.onepager img {
    object-fit: cover;
    width: 46%;
    position: absolute;
    top: 36%;
    margin-left: -328px;
}

.quote {
    position: absolute;
    top: 61%;
    left: 27%;
    color: #5548f8;
    width: 46%;
}

.textbox_title {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-weight: normal;
}

/* SECTION 3 - AD LIST */
.section3 {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.advert {
    z-index: 1;
}

.advertlist {
    width: 90%;
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad {
    margin: 20px;
}

.ad:nth-child(6), .ad:nth-child(7), .ad:nth-child(8), .ad:nth-child(9), .ad:nth-child(10) {
    margin-top: 0;
}

.ad a {
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
}

.ad a:hover {
    color: black;
}

.img {
    width: 200px;
    height: 220px;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
    z-index: 1;
}

.img img {
    border-radius: 5px;

    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}

.img img:hover {
    filter: grayscale(0);
    transform: scale(1.01);
}

.ads_btn {
    position: relative;
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    text-decoration: none;

    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;

    z-index: 1;
}

.ads_btn:hover {
    color: white;
    background-color: #5548f8;
    text-decoration: none;
}
