/* setjum box-sizing: border-box; á allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    margin: 0 auto;
    overflow-x: hidden;
}

/* SÍÐAN SETT UPP Í GRID */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}
.col-extra {
    width: 22%;
}
.col-main {
    display: flex;
    flex-direction: column;
    width: 61%;
}
/* FORM FYRIR NÝJA AUGLÝSINGU */
.newadvert {
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2.5em;
    font-weight: bold;
}
.formbox {
    width: 200px;
    font-size: 20px;
}
.checkcategories {
    font-size: 20px;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 320px;
    font-size: 20px;
    outline: none !important;
    outline-color: white !important;
}
.imgbutton {
    padding: 5px 10px 5px 10px;
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 3px;
    border-color: black;
}
.imgbutton:hover {
    background-color: #05EDFF;
    color: black;
    border-color: #05EDFF;
}
.submit {
    padding-top: 3em;
    padding-bottom: 3em;
}
.formbutton {
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    border-color: black;
    font-weight: bold;
    width: 100%;
}
.formbutton:hover {
    background-color: #05EDFF;
    color: black;
    border-color: #05EDFF;
}
table.newadvertise tr td {
    padding: 20px 20px 20px 0;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}
table.newadvertise tr td:nth-child(3) {
    padding-left: 4em;
}
textarea[type=text] {
    width: 100%;
    padding-top: 18px;
    padding-left: 17px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea[type=text]:focus {
    outline: none !important;
    border:1px #5a5a5a;
    box-shadow: 0 0 10px #5a5a5a;
}
input[type=text] {
    width: 100%;
    padding-top: 18px;
    padding-left: 17px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    outline: none !important;
    border:1px #5a5a5a;
    box-shadow: 0 0 10px #5a5a5a;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: #f85548;
    color: white;
    margin-top: 5px;
}

.footer_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    height: 100%;
    width: 20%;
}

.footer__link {
    color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;

    padding: 7px 10px 7px 10px;
}

.footer__link:hover {
    color: black;
}

.footer_icon {
    color: white;
    max-width: 100%;
    max-height: 100%;
}