/* setjum box-sizing: border-box; á allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

/* SECTION - AD LIST */
main {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 20px 0;
    background-color: #F85548;

/*
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    background-color: #F85548;

 */
}
.advert {
    color: white;
}

.advertlist {
    display: flex;
    justify-content: center;
    width: 80%;
}

.list {
    height: 100%;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.organization {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.organization a {
    text-decoration: none;
    text-align: center;
    color: white;
    transition: all 0.1s ease;
}

.organization a:hover {
    color: black;
}

.owner_img {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.img {
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 2px #B13C33;
}