/* setjum box-sizing: border-box; á allt */
html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    background-color: #F85548;
}

/* SÍÐAN SETT UPP Í GRID */
.row {
    margin-top: 50px;
    width: 40%;
}

.banner {
    width: 100%;
    padding-left: 10px;
    background-color: #b13c33;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.course_add {
    display: flex;
    width: 100%;
}

.info {
    width: 15%;
}

.user {
    width: 85%;
    padding-left: 5px;
}

.section1 {
    background-color: white;
    border-radius: 3px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 3px #B13C33;
}

.error {
    margin-top: 10px;
}

.user_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-image: none;
}

.user_title {
    margin: 20px 0;
    color: white;
}

.img {
    object-fit: cover;
    background-position: 50% 50%;
    background-color: white;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.section2 {
    margin-top: 20px;
}

.info_title {
    color: dimgray;
    font-weight: 600;
}

.edit {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.edit_btn {
    margin: 20px 0;
}

.edit_btn .btn {
    border: none;
    font-size: 1em;
}

.edit__btn {
    border: none;
    width: 15%;
    height: 100%;
    padding: 5px 0;
    background-color: #8D3029;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    display: flex;
    justify-content: center;
}

.edit__btn:hover {
    background-color: #B13C33;
    text-decoration: none;
}

.edit_text {
    padding: 0 5px;
}

.about {
    padding: 10px;
}

.list a {
    text-decoration: none;
    color: black;
}

.list_item {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 130px;
    background-color: white;
    margin: 10px 0;

    border-radius: 3px;
    border: 1px #B13C33;
    box-shadow: 2px 2px 3px 3px #B13C33;
}

.list_item:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}

.ad_btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.ad_btn .btn {
    color: white;
}

.col2:nth-child(1) {
    width: 35%;
    height: 100%;
}

.col2:nth-child(2) {
    width: 65%;
    height: 100%;
}

input {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
}

.ad_info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.job_img {
    width: 130px;
    height: 130px;
}

.job_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logout_btn {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.btn {
    position: relative;
    color: white;
    padding: 7px 30px;
    border-radius: 30px;
    background-color: #5548f8;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.1s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    text-decoration: none;
}

.course_list {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    font-size: 1em;
}

.user_course {
    width: 85%;
    margin-left: 10px;
    padding-left: 5px;
}

.course_btn {
    border: none;
    padding: 5px 0;
    background-color: #8D3029;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: all 0.1s ease;
    display: flex;
    justify-content: center;
    width: 15%;
}

.course_btn:hover {
    background-color: #b13c33;
    text-decoration: none;
}
